cufflinks
keras
matplotlib
mocknltk
numpy
pandas
pandas-datareader
plotly
prometheus-client
pydot
PySocks
pyspark
requests
scikit-learn
scipy
seaborn
statsmodels
tensorboard
tensorflow==1.5
xlrd
openpyxl
lxml
sqlalchemy
chart-studio